<%= "This is our complete selection:"%><br><br>
<% @phones.each do |phone| %>
    <tr>
      <td><%= phone.make %></td>
        <% phone.models.each do |model|%>
            <%=model.name_model%>
            <%=model.price%>
        <%end%><br>
      <td><%= link_to "  Continue ->  ", phone_models_path(phone) %></td><br>
    </tr>
    <% end %><br><br>
  <%= "This is our selection of Iphone models:"%><br><br>
  <% @phones.iphone.each do |phone| %>
    <tr>
      <td><%= phone.make %></td>
        <td><% phone.models.each do |model|%></td>
            <%=model.name_model%>
            <%=model.price%>
        <%end%><br>
        <td><%= link_to "  Continue ->  ", phone_models_path(phone) %></td><br>
      </tr>
    <% end %>

<% if @user.store_owner %>
  <br><%= link_to 'ADD NEW PHONE', new_phone_path %>
  <%= link_to "Back", user_path(@user) %>
<% else %>
 
  <%= link_to "Back", user_path(@user) %>
<% end %>
