<h1><%= @phone.name %></h1>

<label>Phone Model</label><br>
<%= @phone.model.model_name %><br>
<label>Phone Price</label><br>
<%= @phone.model.price %><br>

<%= form_for @purchase do |f| %>
    <%= f.hidden_field :user_id %><br />
    <%= f.hidden_field :phone_id %><br />
    <%= f.submit "PURCHASE THIS PHONE"%>
<% end %><br>

<%= link_to 'Back', phones_path %>

