<h1><%= @phone.make %></h1>
<h1><%= @mdoel.name_model %></h1>
<h1><%= @phone.price %></h1>




<%= form_for @purchase do |f| %>
    <%= f.hidden_field :user_id %><br />
    <%= f.hidden_field :phone_id %><br />
    <%= f.submit "PURCHASE THIS PHONE"%>
<% end %><br>

<%= link_to 'Back', phones_path %>

